<div class="row" data-ng-controller="assetDetailCtrl">
    <div class="col-lg-10 col-lg-offset-1 centered">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ assetDetails.field_asset_image }}" alt="">
                </div>
            </div>
        </div><! --/Carousel -->
    </div>

    <div class="col-lg-5 col-lg-offset-1">
        <div class="spacing"></div>
        <h4>{{ assetDetails.title }}</h4>
        <div ng-bind-html="assetDetails.field_asset_description"></div>
    </div>


    <div class="col-lg-4 col-lg-offset-1">
        <div class="spacing"></div>
        <div class="feedback-overview" ng-controller="assetFeedbackCtrl">
            <ul>
                <li ng-repeat="fb in feedback">
                    <div class="rating">{{  }}</div>

                </li>
            </ul>
        </div>
    </div>

    <div class="feedback-from">
        <form ng-submit="submit()" ng-controller="feedbackPosterCtrl">
            <input type="text" ng-model="username" name="user" placeholder="Username" /><br />
            <input type="text" ng-model="rating" min="0" max="5" name="rating" placeholder="Rating 0-5" /><br />
            <input type="text" ng-model="feedback" name="feedback" placeholder="Feedback" /><br />
            <input type="submit" id="submit" value="Submit" />
        </form>
    </div>

</div><! --/row -->
