<div class="row" data-ng-controller="eventDetailCtrl">
    <div class="col-lg-5 col-lg-offset-1 centered">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="#/asset-detail/{{ eventDetails.nid_1 }}"><img src="{{ eventDetails.field_asset_image }}" alt=""></a>
                </div>
            </div>
        </div><! --/Carousel -->
    </div>

    <div class="col-lg-5">
        <div class="spacing"></div>
        <h4>Event Details</h4>
        <div class="hline"></div>
        <i class="fa fa-book" style="float: left; padding: 16px;"></i><p><b>Type:</b> {{ eventDetails.field_event_type }}</p>
        <i class="fa fa-calendar" style="float: left; padding: 5px 16px;"></i><p><b>Date from:</b> {{ eventDetails.field_date_from_1 }}</p>
        <i class="fa fa-calendar" style="float: left; padding: 5px 16px;"></i><p><b>Date to:</b> {{ eventDetails.field_date_to_1 }}</p>
        <i class="fa fa-tags" style="float: left; padding: 5px 16px;"></i><p><b>Tags:</b> {{ eventDetails.field_event_tags }}</p>
    </div>

    <div class="col-lg-8 col-lg-offset-1">
        <h1>{{ eventDetails.title }}</h1>
        <div class="spacing"></div>
        <div ng-bind-html="eventDetails.body"></div>
    </div>




</div><! --/row -->
