<div class="row" data-ng-controller="eventDetailCtrl">
    <div class="col-lg-5 col-lg-offset-1">
        <h1>{{ eventDetails.title }}</h1>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->


            <div class="he-wrap tpl6">
                <div class="event-detail-image">
                    <img src="{{ eventDetails.field_asset_image }}" alt="">
                </div>
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1 ng-binding" data-animate="fadeInDown">Drupal 8</h3>
                        <a class="dmbutton a2" data-animate="fadeInUp" href="#/asset-detail/{{ eventDetails.nid_1 }}">
                            <i class="fa fa-link"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div><! --/Carousel -->
    </div>

    <div class="col-lg-5">
        <div class="spacing"></div>
        <h4>Event Details</h4>
        <div class="hline"></div>
        <i class="fa fa-book" style="float: left; padding: 16px;"></i><p><b>Type:</b> {{ eventDetails.field_event_type }}</p>
        <i class="fa fa-calendar" style="float: left; padding: 5px 16px;"></i><p><b>Date from:</b> {{ eventDetails.field_date_from_1 }}</p>
        <i class="fa fa-calendar" style="float: left; padding: 5px 16px;"></i><p><b>Date to:</b> {{ eventDetails.field_date_to_1 }}</p>
        <i class="fa fa-tags" style="float: left; padding: 5px 16px;"></i><p><b>Tags:</b> {{ eventDetails.field_event_tags }}</p>
    </div>

    <div class="col-lg-5">
        <div class="spacing"></div>
        <h4>Sessions</h4>
        <div class="hline"></div>
        <div ng-repeat="session in sessions">
            <i class="fa fa-book" style="float: left; padding: 16px;"></i><p><b>Type:</b> {{ session.title }}</p>
            <p ng-bind-html="session.body"></p>
            <i class="fa fa-calendar" style="float: left; padding: 5px 16px;"></i><p><b>Date from:</b> <span ng-bind-html="session.field_date_from"></span></span></p>
            <i class="fa fa-calendar" style="float: left; padding: 5px 16px;"></i><p><b>Date to:</b> <span ng-bind-html="session.field_date_to"></span></p>

        </div>
    </div>

    <div class="col-lg-8 col-lg-offset-1">

        <div class="spacing"></div>
        <h3>More information</h3>
        <div ng-bind-html="eventDetails.body"></div>
    </div>


    <div class="registered-users col-lg-8 col-lg-offset-1">
        <div class="spacing"></div>
        <h4>Registered users</h4>
        <div ng-bind-html="eventDetails.field_event_members"></div>
    </div>


</div><! --/row -->
