
<div id="portfoliowrap" data-ng-controller="EventCtrl">
    <div class="portfolio-centered">
        <div class="recentitems portfolio">
            <div class="portfolio-item" ng-repeat="event in events">
                <div class="he-wrap tpl6">
                    <div ng-bind-html="event.imageurl"></div>
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">{{ event.eventtitle }}</h3>
                            <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_09.jpg" class="dmbutton a2"
                               data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- portfolio -->
    </div>
    <!-- portfolio container -->
</div><!--/Portfoliowrap -->

